<div><h1>Products in cart</h1></div>
<div>
  <button id='currentButton'>Profile</button>
  <button id='productsButton'>Check products</button>
  <button id='logoutButton'>Log out</button>
  <button onclick="purchase('{{cid}}')">Process purchase</button>
</div>
<div>
  {{#each products}}
    <div style='margin: 16px; padding:8px; background-color:#f2e6e8'>
      <h2>{{this.product.title}}</h2>
      <h4>Description: {{this.product.description}}</h4>
      <h4>Quantity: {{this.quantity}}</h4>

      <p> ID: {{this.product._id}}</p>
      <p> Price: {{this.product.price}}</p>
    </div>
  {{/each}}
</div>

<script src='/config.js'></script>
<script src='./js/cartView.utils.js'></script>