<header><h1>Realtime View</h1></header>

<div id="ProductsContainer">

  {{#each products}}
    <div style="margin: 16px; padding:8px; background-color:#e6eef2">
      <h3>{{this.title}}</h3>
      <h4>{{this.description}}</h4>
      <p> ID: {{this.id}} Code: {{this.code}}</p>
      <p> Price: {{this.price}}</p>
      <p> Status: {{this.status}}</p>
      <p> Category: {{this.category}}</p>
    </div>
  {{/each}}

</div>

<script src="socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>